/build

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/captures
.externalNativeBuild

app/google-services.json

.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/runConfigurations.xml

app/src/main/java/com/example/kumbarakala/utils/StoryCardCloudinaryManager.kt
app/src/main/java/com/example/kumbarakala/firebase/ProductImageCloudinaryManager.kt